@media (min-width: 992px) {
  #pc-filter {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  #pc-filter {
    display: none;
  }
}

@media (min-width: 992px) {
  #body-filter {
    min-width: 956px;
  }
}
@media (max-width: 991.98px) {
  #body-filter {
    min-width: 100%;
  }
}