@font-face {
  font-family: Lexend;
  src: url(fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

/* Đối với Firefox */
html {
  scrollbar-color: #888 #f1f1f1; /* Màu của thanh cuộn và track */
  scrollbar-width: thin;          /* Độ rộng: auto, thin hoặc none */
}

/* Tùy chọn thêm để tạo giao diện rõ ràng hơn */
* {
  scrollbar-width: thin; /* Đặt độ rộng cho tất cả các phần tử */
}

/* Đối với trình duyệt WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;      /* Chiều rộng của thanh cuộn dọc */
  height: 12px;     /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Màu nền của track */
  border-radius: 10px;  /* Bo góc track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu của thanh cuộn */
  border-radius: 10px;    /* Bo góc thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu khi hover vào thanh cuộn */
}

/* table style */
.table .thead-danger th {
  color: #fff;
  background-color: #dc3545;
  border-color: #ffffff;
}
.table .thead-success th {
  color: #fff;
  background-color: #28a745;
  border-color: #ffffff;
}
/* end table style */

/* CUSTOM SELECT2 */
.select2 {
  width: 100% !important;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #eee;
  color: black;
}

/* Đã chọn chưa hover */
/* Đã chọn hover */
.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default
  .select2-results__option[aria-selected="true"]:hover {
  color: #007bff;
  background-color: #dee2e6;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 600px;
  overflow-y: auto;
}
/* END CUSTOM SELECT2 */

.tbl-basic { 
  border-collapse: collapse; 
  width: 100%; 
}
.tbl-basic th{ 
  padding: 15px; 
  text-align: center; 
}
.tbl-basic td { 
  padding: 5px; 
  text-align: center; 
}
.tbl-basic th { 
  background-color: #dc3545; 
  font-size: large;
  color: white;
  position: sticky; 
  top: 0; 
  z-index: 1; 
  height: 50px; 
}
.tbl-basic tr:hover { 
  background-color: #e0f7fa; 
  transition: background-color 0.3s ease; 
}