@font-face {
    font-family: Lexend;
    src: url(fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}


/* table style */

.table .thead-danger th {
    color: #fff;
    background-color: #dc3545;
    border-color: #ffffff;
}
.table .thead-success th {
    color: #fff;
    background-color: #28a745;
    border-color: #ffffff;
}